html {
  background-image: url("https://media4.giphy.com/media/ieaUdBJJC19uw/giphy.gif?cid=ecf05e47htgkhpcoo3d1iouu3wrfmaa7pux6en29davehgz6&rid=giphy.gif&ct=g");
  min-height: 1000px;
  font-family: 'helvetica neue';
}

:root {
  --b1: #B4CA65;
  --b2: #90a93a;
  --b3: #8f3d3d;
  --b4: #a96b6b;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: var(--b2);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box-date {
  max-width: 400px;
  margin: 50px auto;
  background: var(--b3);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#heading {
  background-color: #fff;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: var(--b3);
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--b3);
  color: #fff;
  font-size: 36px;
  border-width: 0;
  cursor: pointer;
}

input[type="text"] {
  /* text-align: center; */
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  padding-left: 8px;
  box-shadow: inset 0 -3px 0 0 var(--b4);
}

input[type="text"]:focus {
  outline: none;
}

footer {
  color: #fff;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
